body {font-family: Arial, Helvetica, sans-serif;}

.a:link, .a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.a:hover, .a:active {
    background-color: red;
}
form{
    width: 25%;
    border:1px solid #ccc;
    margin: 20px;
    padding:30px;
    background: rgba(102,255,255,0.2);
    box-shadow: 5px 5px #ccc;
    margin-left:25%; 
}

label{
    font-size: 20px;
    display: block;
    width: 100%;

}

input{
    font-size: 16px;

    margin-bottom: 20px;
    width: 100%;

}

input,textarea{
    
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    webkit-box-sizing:border-box;
    -moz-box-sizing:border-box; 
    box-sizing: border-box;
    border: 1px solid #ccc;


}


input[type="submit"]{

    margin-bottom: 0;
    background: #1668c4;
    color: #fff;
    border: none;

}

input[type="submit"]:hover{

    background:#4a88fa;
    cursor: pointer; 
}



table {
    border-collapse: collapse;
    padding: 30%;
    margin:100px;
    margin-left: 10%;
    width: 70%;

    
    
}

th, td {
    text-align: left;
    padding: 8px;
   
    
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    
}
tr:hover {background-color:#FEF9E7 ;}
